@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "kalameh-black";
    src: url("/font/Kalameh-Black.ttf");
  }

  @font-face {
    font-family: "kalameh-bold";
    src: url("/font/Kalameh-Bold.ttf");
  }

  @font-face {
    font-family: "kalameh-regular";
    src: url("/font/Kalameh-Regular.ttf");
  }
}

@layer components {
  .centering {
    @apply flex items-center justify-center;
  }

  .list-items-header li {
    @apply centering ml-[18px] cursor-pointer py-1.5;
  }

  .list-items-menu li {
    @apply centering justify-between border-b border-[#0f1c2e] w-full p-[13px];
  }

  .buttons-menu button {
    @apply bg-primary py-2 px-5 rounded-[30px] text-[14px] mx-0.5 w-full text-[#1b1b1b];
  }

  .float_menu_holder {
    background: #00000052;
    backdrop-filter: blur(5px);
  }

  .sub-menu {
    @apply bg-subMenu rounded-[10px] h-fit w-52 py-2 absolute invisible group-hover:visible top-14 group-hover:top-9 right-0 opacity-0 group-hover:opacity-100 duration-300;
  }

  .bg-subMenu {
    background: #101014bd;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px #101014e0;
  }

  .after {
    content: "";
    width: calc(100% - 90px);
    height: 2px;
    position: relative;
    display: inline-block;
    top: 0px;
    right: 8px;
    @apply bg-primary lg:w-14;
  }

  .before {
    content: " ";
    height: 5px;
    margin-left: 5px;
    display: inline-block;
    @apply bg-primary w-[5px] hover:w-2 duration-200;
  }

  .button-footer {
    @apply p-5 bg-box my-2.5 lg:mt-0 rounded-[10px] centering justify-between hover:shadow-button duration-300 cursor-pointer;
  }

  .footer-width {
    @apply xs:max-w-[34rem] md:max-w-[45rem] lg:max-w-[1040px] 1200:max-w-[1140px] 1400:max-w-[1320px];
  }

  .buttons-slider-header {
    @apply size-10 rounded-full bg-[#3e4dab] centering text-lg font-light text-text cursor-pointer absolute top-[46%] z-50 hover:bg-darker2 transition-all;
  }

  .hover-featured-card {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    @apply absolute top-2 right-2 float_menu_holder bg-[#000000b3] rounded-[9px] opacity-0 scale-125 hover:scale-100 hover:opacity-100 duration-300 cursor-pointer;
  }

  .movie-filter {
    @apply bg-primary text-black px-5 py-2.5 rounded-[14px];
  }

  .more-filters {
    @apply centering bg-box rounded-[20px] h-14 w-[13%] relative;
  }

  .more-filters-mobile {
    @apply bg-[#131414] mb-4 w-full h-14 rounded-[20px] centering justify-between flex-row-reverse p-5 text-sm;
  }

  .items-cart-film div svg {
    @apply size-10 rounded-[8px] p-2 mb-1.5;
  }

  .back-poster {
    background: linear-gradient(to left, #0f1c2e 105px, transparent);
    @apply absolute top-0 right-0 rounded-tr-lg h-[152px] w-3/4;
  }

  .back-poster2 {
    background: linear-gradient(to top, #0f1c2e 0, transparent);
    @apply absolute top-0 right-0 h-[155px] w-full;
  }

  .bg-genre-section {
    @apply bg-primary rounded-[50px] px-4 py-1 text-black;
  }

  .back-details {
    padding: 120px 0 70px;
    background: linear-gradient(to bottom, rgba(247, 247, 248, 0), #0d1726);
  }

  .details-item-poster svg {
    @apply size-[30px] rounded-md p-1 ml-1;
  }

  .details-item-bottom-poster p {
    @apply duration-200 absolute text-[12px] font-bold bg-box2 rounded-md p-2 bottom-14 opacity-0;
  }

  .comment-inputs input {
    @apply bg-box2 outline-none rounded-md text-[#8e939b] px-[15px] text-sm font-medium;
  }

  .form-inputs input {
    @apply text-sm font-medium border-[3px]  focus:border-[#14253e] duration-300 outline-none h-14 w-full rounded-[10px] px-2.5 my-3 bg-transparent;
  }

  .form-inputs span {
    text-shadow: 1px 1px 6px red;
    @apply text-[12px] font-medium text-red-600 mr-3;
  }
}
